html {
    background-color: rgb(58, 56, 56);
}

.mnu-header-page {
    height: 800px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
    text-align: center;
}

.header-h1 {
    font-size: 60px;
    color: rgb(218, 165, 32);
    padding-top: 23%;
}

.header-h2 {
    font-size: 60px;
    color: rgb(218, 165, 32);
}

.opening-times {
    color: rgb(0, 0, 0);
    font: 15px;
}

.header-h3 {
    color: rgb(58, 57, 57);
    font: 40px;
    padding-top: 28%;
}

.header-h4 {
    color: rgb(58, 57, 57);
    font: 40px;
}

.mnu {
    height: 800px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.container2 {
    margin-left: 9%;
    margin-right: 9%;
}

.mnu-h1 {
    color: rgb(218, 165, 32);
    font-size: 25px;
}

.mnu-h2 {
    padding-top: 3%;
    color: rgb(58, 57, 57);
}

.mnu-h3 {
    color: rgb(58, 57, 57);
}

.mnu-h4 {
    color: rgb(58, 57, 57);
    padding-top: 10px;
}

.para1 {
    color: rgb(0, 0, 0);
}

.mnu-h5 {
    color: rgb(58, 57, 57);
}

.para2 {
    color: rgb(101, 101, 101);
}

.mnu-h6 {
    color: rgb(58, 57, 57);
    padding-top: 20px;
}

.para3 {
    color: rgb(101, 101, 101);
}

.mnu-h7 {
    color: rgb(58, 57, 57);
    padding-top: 20px;
}

.para4 {
    color: rgb(101, 101, 101);
}

.mnu-h8 {
    color: rgb(58, 57, 57);
    padding-top: 30px;
}

.mnu-h9 {
    color: rgb(58, 57, 57);
}

.para5 {
    color: rgb(0, 0, 0);
    margin-top: 40px;
}

.mnu-h10 {
    color: rgb(58, 57, 57);
}

.para6 {
    color: rgb(101, 101, 101);
}

.prices-heading {
    color: rgb(218, 165, 32);
    font-size: 25px;
}

.prices-box {
    background-color: rgb(0, 0, 0);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28%;
    color: rgb(218, 165, 32);
    font-size: 20px;
}

.reservation-info {
    color: rgb(58, 57, 57);
    font: 40px;
    padding-top: 25%;
}

.reservation-info2 {
    color: rgb(58, 57, 57);
    font: 40px;
    padding-top: 38%;
}

.NwYr-header-h2 {
    color: rgb(58, 57, 57);
}

.NwYr-header-h3 {
    color: rgb(58, 57, 57);
    padding-top: 19%;
}

.NwYr-header-h4 {
    color: rgb(58, 57, 57);
}